<a href="https://colab.research.google.com/github/Ashuto7h/ML-basics/blob/main/python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lab Sistec
---

# New Section

In [ ]:
print("hello world")
print("where are you now ?")

### Keywords in python:

# New Section

In [ ]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
33

## comments in python

```
# in python there are only single line comment.

''' this is said to be used fro multiline comment, but it is not'''
```

the above string is a doc string, where we can write details about a function or class. so python doesn't have a multiline comment.

# Data types in python
Fundamental Datatypes : int, string, bool, float, complex

Advanced Datatypes : set, list, dict, tuple, byte, bytearray, frozenset

### int
is int a primitive data type in python like it is in java?

no! its a class. It doesn't belong to category of primitive data type.

every data type in python is an object.

some functions to deal with types : type(), id()

In [ ]:
x = 98493492749598827939985959832993955932984934823947979574923749792999992874
print(x)
print(type(x))
print(id(x))

98493492749598827939985959832993955
<class 'int'>
140157716302544

As you can see above, there is no thing in python like range.
because, in python everything is in form of object.

In [ ]:
x = 0b0101     # binary datatype
y = 0o07466    # octal datatype 
z = 0x4A88F    # hexadecimal datatype
print(x,y,z)
print(bin(x),oct(y),hex(z))

5 3894 305295
0b101 0o7466 0x4a88f

### complex

In [ ]:
x = 3 + 5j
print(x,type(x))
print(x.real, x.imag, type(x.real))
x = 0b0110 + 3.4j
print(x,type(x))
# x = 2 + 0b0110j   this will give syntax error. imag part should be decimal
# print(x,type(x))

(3+5j) <class 'complex'>
3.0 5.0 <class 'float'>
(6+3.4j) <class 'complex'>

### bool
internally, True is treated by interpreter as 1
and False is treated by interpreter as 0

In [ ]:
print(True + False)
print(True + True)

1
2

### string
string is an ordered collection of characters.
> ordered means indexing and slicing can be applied, 
  also order of insertion of datais preserved.

as you can see in below program, string is a collection of chars which point to different dynamic memory location.

In [ ]:
str1 = 'this is string'
for char in str1:
    print(id(char),':',char)

140158159925800 : t
140158159470072 : h
140158159979832 : i
140158160086944 : s
140158159693112 :
140158159979832 : i
140158160086944 : s
140158159693112 :
140158160086944 : s
140158159925800 : t
140158160224920 : r
140158159979832 : i
140158159759824 : n
140158159732664 : g

## Type Casting or Type Coeration

type conversion can be done by following functions: 

int(), str(), bool(), float(), complex()

In [ ]:
x = 20.884
# in java we get error, if we convert a int to float.
# but python developers have said that a programmer is mature enough to decide what he should have to do with a data.
# python allows downcasting unlike java.
y = int(x)
print(y, type(y))

x = '993.324'
y = float(x)
print(y,type(y))

# y = int(x)  # gives error, invalid literal. because a float string(containing .) cannot be converted to a string.
# print(y,type(y))

# bool data type conversion return false only when string is empty or a 0 value complex.
print(bool(""))
print(bool(0+0j))
print(bool(0+1j))

20 <class 'int'>
993.324 <class 'float'>
False
False
True

#### program to find no. of digits in a no.
complexity : o(1)

In [ ]:
import math
x = 9948
print(math.floor(math.log10(x)+ 1))

4

## Immutablity and reusablity

when python vm start it allocate memory for int 0 to 256. so whenever we use them we will get a fixed id. for any other int that we create, it will allocate a new memory for that and whenever we use it, then reference of this memory is given to variable. so an object in python is immutable, and also reusable at the same time. this makes python memory intensive but also increases its reusablity.

In [ ]:
x = 10
y = 10
print(id(x), id(y))
print(id(True), id(False)) # this gets allocate at start of python vm
print(id(10), id(0), id(256)) # this gets allocate at start of python vm
print(id(3884), id(3884)) # here a new memory allocates for int(3884).

10914784 10914784
10302848 10300256
10914784 10914464 10922656
140545676515664 140545676515664

## List data type

it is a container data type that maintains insertion order, support indexing and slicing, duplicate data, and can store values of multiple data types (non - homogenous nature), and mutable.

In [ ]:
# initialise
l = []
print(type(l))
l = [1, 'hello', 8.3, [4,5,6]] # non homogenous.
print(l)

list1 = ["one", "two"]
list2 = ["one", "two"]
print(list1 == list2) # match content
print(list1 is list2) # match id
print(id(list1), id(list2))
print("_____________________")
a = "one"
b = "one"
print(a==b) # match content
print(a is b) # match id
print(id(a), id(b))

<class 'list'>
[1, 'hello', 8.3, [4, 5, 6]]
True
False
140545536908104 140545667007240
_____________________
True
True
140545918447776 140545918447776

## tuple data type
it supports all list properties except that it is immutable.

In [ ]:
t = (1, 2.3, "where", [1, 2,3], (1,2,3,4))
print(type(t))

<class 'tuple'>

## range data type

In [ ]:
x = range(0,10)
print(type(x))
for i in range(0,10):
    print(i)

<class 'range'>
0
1
2
3
4
5
6
7
8
9

## set data type
it is a data type which doesn't allow duplicate values insertion, insertion order is not preserved, indexing and slicing cannot be applied, but it is mutable in nature.

### frozenset 
a set which is immutable.

In [ ]:
# remove duplicate values from list
list1 = [2,2,2,2,2,2]
print(set(list1))

{2}

## dictionary data type
dict is like the json object, in which data is stored in form of key value pair
key cannot be duplicate, but data can be.

it is mutable in nature. key can have any immutable data type(fundamental data type, immutables such as frozenset,tuple) and value can have any data type.

In [ ]:
x = {"key":"value"}
print(type(x))

<class 'dict'>

## None data type

In [ ]:
print(type(None))

<class 'NoneType'>

# Operators
## arithmetic operators

In [ ]:
print(4/2) # division operator always return float values.

## floor division operator
print(5 // 2) 

print(4.0 // 2) 
# floor div operator return int value when both operand are int,
# if anyone is float, it will return float values

## exponent operator
print(2**4)

# str supports both + and * operator. but for + both data should be string.
print("str" * 4)
# print("str"+ 1 + "str")     gives error.

2.0
2
2.0
16
strstrstrstr

## Relational operators
< > >= <=

In [ ]:
a = "rahul"
b = "dubey"
print(a>b)

b = "rah"
print(a>b)

a = 10
# print(a>b)   gives error - incompatible data type.
print(a == b)  # gives no error.
print(a != b)  # gives no error.
# == and != operators does not consider the type of data for comparison.

#chaining operators.
print(10 < 20 > 30 < 40)
print(1 < 2 == 1)
# here if any operation becomes false then the whole expression becomes false.

True
True
False
True
False
True
False

## logical operators
and, or, not

In [ ]:
print(10 and 20)
print(10 or 20)
print(-1 or 20)
print(-1 and 20)
print(not 2)
print(not 0)
print(0 and 20/0) #special case
# print(10 and 200) gives error

20
10
-1
20
False
True
0

## bitwise operators
& | << >> ^ ~

## assignment operators

In [ ]:
a,b,c = 10,20,30
print(a,b,c)
a,b,c = [10,20,30]
print(a,b,c)
a,b,c = (10,20,30)
print(a,b,c)

# swapping two numbers
a,b = b,a # this will change the reference.
# due to these things python can return multiple values from functions.

10 20 30
10 20 30
10 20 30


## Conditional operator

In [ ]:
x = 20
y = 10
x = 49 if x > y else 59    # python does not use ternary operators ?:
print(x)

49

In [ ]:
a = "rahul"
b = "rahul"
print(a is b)
print(a == b)
list1 = [1,2,3]
list2 = [1,2,3]
print(list1 is list2)  # is operator matches id.
print(list1 == list2)

True
True
False
True

## membership operators.
in , not in

both operators are used to check on a container only.

In [ ]:
print('r'  in 'rahul')
print('r' in ['r', 'a', 'h'])

d = {'r': 1, 'a': 2}
print(1 in d)   # search on keys
print('r' in d) # search on keys

d = {'r' : [1,2,3], 'a': 4}
print(1 in d['r'])  # in operator only works for container.
# print(4 in d['a'])   this will give error. because its not a container.

True
True
False
True
True

# Input

In [ ]:
# reading single input
x = input('please enter a number : ')
print(x, type(x))

 please enter a number5
5 <class 'str'>

In [ ]:
# reading multiple inputs.
# using list comprehension
a,b = input('enter two numbers : ').split()
print(a+b)
a,b = (int(i) for i in input('enter two numbers : ').split())
print(a, b, a+b)

enter two numbers : 4 5
45
enter two numbers : 4 5
4 5 9

In [ ]:
# reading comma separated values.

a,b = [int(i) for i in input('enter two numbers : ').split(',')]
print(a,b)

enter two numbers : 4,5
4 5

In [ ]:
# if given heterogenous data in input
str1 = "1, 'rahul', 3.4554, 4+5j"
x = [i for i in str1.split(',')]
for item in x:
    print(item, type(item))

print('----------------------')

x = [eval(i) for i in str1.split(',')] # eval function auto find the type of str.
for item in x:
    print(item, type(item))

print('----------------------')
print(x)

1 <class 'str'>
 'rahul' <class 'str'>
 3.4554 <class 'str'>
 4+5j <class 'str'>
----------------------
1 <class 'int'>
rahul <class 'str'>
3.4554 <class 'float'>
(4+5j) <class 'complex'>
----------------------
[1, 'rahul', 3.4554, (4+5j)]

# Control flow statements
if, elif, else, pass,

Loops - for, while, for else, while else

In [ ]:
s = "rahul"
for x in s:
    print(x,end=",")

r,a,h,u,l,

In [ ]:
# to print number between 0 to 10
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# write a program to print the sum of no. given as input in form of list.
list1 = eval(input("input list of numbers. : "))
sum = 0
for item in list1:
    sum = sum+item
print("sum of elements is : ", sum)

input list of numbers. : [1,2,3,4,5]
sum of elements is :  15

In [ ]:
# for else loop 
cart = [10,20,30,40]
for i in cart:
    if i>30:
        print('cannot add items greater than 30')
        break
    print(i)
else:
    print('for loop run successfully without any problem')
    
# similarly while else works.

for loop run successfully without any problem

# String operations.
python supports reverse indexing also.

first index starts from 0 and last starts from -1

slicing :
>  [start index : end index : interval jump]

In [ ]:
s = 'learning python is very easy'
print(len(s))
print(s[1:7:1])
print(s[1:7:2])
print(s[3:7:-1]) #gives no output as we cannot reach 7 by 3 2 1 0 -1 -2.....
print(s[7:3:-1])  # gives output because we can go from 7 to 3
print(s[1:7])
print(s[:7])
print(s[7:])
print(s[::])
print(s[:])
print(s[::-1]) # reverse indexing. used to print string in reverse.
print(s[::1]) #original order

28
earnin
eri

gnin
earnin
learnin
g python is very easy
learning python is very easy
learning python is very easy
ysae yrev si nohtyp gninrael
learning python is very easy

## Unicode

In [ ]:
print('\U0001f600')
print(chr(48))
print(ord('G'))

ðŸ˜€
0
71

## strip() function

In [ ]:
# strip, lstrip, rstrip function
s = '  rahul  '
print(s.strip())
# lstrip strip from left only, rstrip strip from right only.

rahul

## Substring find

In [ ]:
# return position of starting index of string or -1 if not found
s = "hello everyone"
print(s.find("hello"))
print(s.find("one"))
print(s.find("bye"))

# find within a range...
print(s.find("e",5,10))

0
11
-1
6

## count frequency

In [ ]:
s = "hello hello hello"
print(s.count("hello"))
print(s.count("hello",4,12)) # count in a  range.

3
1

## Replace string

In [ ]:
print(s.replace("hello", "below"))
print(s)
# replace function does not replace current string.
# it return a new string, because string is immutable.

below below below
hello hello hello

## Joining

In [ ]:
# only join values in a container containing string values with given 
r = input("enter space separated data : ").split()
print(r)
print("_".join(r))

enter space separated data : ashu sahu cs depart
['ashu', 'sahu', 'cs', 'depart']

'ashu_sahu_cs_depart'

## checking type of char.

In [ ]:
# isalpha()(return true if string contain only a to z or A to z)
# isalnum()(return true if string is alphanumeric)
# isdigit()
# islower()
# isupper()
# istitle()
# isspace()

## formatting string

In [ ]:
print("the float number is {}".format(123.456))
print("the float number is {:f}".format(123.4))
# float precision support upto 6 decimal places.

print("the float number is {:8.4f}".format(123.4)) 
# total digits 8 including dot, and 4 precision after decimal.

print("the float number is {:08.2f}".format(123.4))
# if not able to maintain 8 digits, append 0 in front.

print("the float number is {:08.3f}".format(123456654.4)) 
# main case. it does not alter integer part even if rules break.

person = {'age' : 45, 'name':'ashu'}
print("{p[name]} and {p[age]} of person".format(p=person))
# most used syntax....

# --> keyword arguement system..
print("{name} and {age} of person".format(**person)) 
# it pass the whole dictionary.

the float number is 123.456
the float number is 123.400000
the float number is 123.4000
the float number is 00123.40
the float number is 123456654.400
ashu and 45 of person
ashu and 45 of person

## reversed() function

In [ ]:
s = "rahul"
p = reversed(s)
print(type(p))
print(p)
print(list(p)) # on converting iterator to list, it create a list, push object, increment iterator.
s = "".join(list(reversed(s))) # to reverse string.
print(s)

<class 'reversed'>
<reversed object at 0x7f520647fd68>
['l', 'u', 'h', 'a', 'r']
luhar

## write a program to merge alternatively chars of two strings.

In [ ]:
s1 = "ashu"
s2 = "sahuashu"
ans = ""
for x,y in zip(s1,s2):
    ans += x+y

print(ans)

assahhuu

# List operations.

## count() function

In [ ]:
l = [1,2,2,2,3,3,3,3,4,5]
print(l.count(2))

3

## index() function

In [ ]:
print(l.index(2)) # return first occurence index

1

## append() function

In [ ]:
l = [1,2,3]
l.append(4)
print(l)

[1, 2, 3, 4]

## insert() function
syntax : insert(index, data)

In [ ]:
l.insert(2,888)
print(l)

[1, 'a', 888, 'b']

## extend() function

In [ ]:
m = ["a", "b"]
l.extend(m)
print(l)

[1, 'a', 888, 'b', 'a', 'b']

## remove(), pop() function
 pop function removes last element but we can pass a parameter index to pop the element at given index.

In [ ]:
print(l)
l.pop()
print(l)
print(l.pop(2),l,sep="\n")

[1, 'a', 888, 'b', 'a', 'b']
[1, 'a', 888, 'b', 'a']
888
[1, 'a', 'b', 'a']

## sort() function
list should contain homogenous data otherwise sort function will give error.

In [ ]:
l = [1,2,3,4]
l.sort(reverse=True)
print(l)

[4, 3, 2, 1]

## aliasing and cloning

In [ ]:
l = [1,2,3,4]
m = l
print(id(l), id(m)) # any update in m will also update l.
# this is called aliasing
# so we use cloning.

# 1st way 
m = l[:]
print(id(l), id(m)) # id of both are different

# 2nd way
m = l.copy()
print(id(l), id(m))

140378137180104 140378137180104
140378137180104 140378137180168
140378137180104 140378137180360

## +, * operator

In [ ]:
l = [1,2,3]
m = [4,5,6]
print(l+m)
print(l*2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]

## comparisons

In [ ]:
l = ["dog","cat"]
m = ["dog","cat"]
print(l == m)

l.append("rat")
print(l == m)

# the comparison operator == checks for 
# 1. len of element
# 2. order of element
# 3. content of list (case sensitive)

# but the relation operator > <  checks for first element only.
print(l>m)

## Nesting of list

In [ ]:
l = [[1,2,3], [4,5,6,[7,8],[9,10]]]
print(l[1][3][1])
# nested list is never a multidimension array but its syntax seems to be so.

8

# tuple operations

In [ ]:
t=()
print(type(t))

t = (1)
print(type(t))  # gives the type int because of typecasting

t =(1,)
print(type(t)) # now it is tuple

# tuple supports indexing but it is immutable so we cannot change an element using indexing.
t = (1,2,3,4)
print(t[2])

# tuple also support + and * operators.
s = (5,6)
print(t+s)

#sorting a tuple
t= (4,6,3,2,5,7,7,4,2)
t2 = sorted(t)
print(t2)

# compare tuples.
print(t == t2)

# tuple paking and unpacking
t = 1,2,3,4  #packing
a,b,c,d = t  #unpacking

<class 'tuple'>
<class 'int'>
<class 'tuple'>
3
(1, 2, 3, 4, 5, 6)
[2, 2, 3, 4, 4, 5, 6, 7, 7]
False

In [ ]:
# tuple comprehension is not supported by python
t = (x*x for x in range(1,6))
print(type(t)) # gives class generator, not tuple.

<class 'generator'>

# Set operations

In [ ]:
# set 
d = {1,2,3}
print(type(d))
# set never support slicing and indexing.

# union()
x = {1,2,3}
y = {2,3,4}
print(x.union(y))

# intersection()
print(x.intersection(y))

# difference()
print(x.difference(y))

# set comprehension
t = {x*x for x in range(1,5)}
print(type(t)) # gives set

# Dictionary operations

In [ ]:
# dictionary
d = {}
d1 = dict()
print(type(d),type(d1))

# accessing dictionary
d = {
    1:[1,2,3,4],
    2:["a", "b"]
    }
print(d[1][2])
print(d.get(1)) #if key is not found it gives None.

# pop() function works similar to list, pass key as parameter
d.pop(2)
print(d)

<class 'dict'> <class 'dict'>
3
[1, 2, 3, 4]
{1: [1, 2, 3, 4]}

In [ ]:
# unpacking
d = {
    1:[1,2,3,4],
    2:["a", "b"]
    }

t = d.items()
print(type(t))  # dict items
 
for a,b in d.items():
    print(a,b)

<class 'dict_items'>
1 [1, 2, 3, 4]
2 ['a', 'b']

In [ ]:
# dict comprehension...
d = {x : x*x for x in range(1,6)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Function
to define a function in python we require two keywords
> def and return

def is mandatory keyword and return is optional

there are two types of funtions.

> builtin functions - id(), type(), eval(), len()
> userdefined function.

In [ ]:
# user defined function in python.
def fun_name(pareameters):
    ''' example of a basic function'''
    print("hello")

fun_name(1)
print(fun_name(1)) # prints hello and None both.
# if we dont define a return type in function then it is None

hello
hello
None

In [ ]:
#   Parameters
# 1. positional arguement
# 2. keyword arguement
# 3. default arguement
# 4. variable length arguement

# write a function named calculator that return sum, div, mult, and sub of two no.

def calculator(x,y):
    sum = x+y
    subs = x-y
    mul = x*y
    div = x//y
    return (sum,subs,mul,div) 

# positional arguement 
print(calculator(5,6))
# it can return multiple values but it create a tuple of them before returning.

In [ ]:
# keyword arguement passing
def hello(name,add):
    print(name, "and", add)

hello(add = "bhopal", name="ashu")

# it is possible to use positional arguement and keyword arguement passing together
# we need to write positional arguement first then keyword arguements.

hello("rahul", add="bhopal")
# hello("bhopal", name = "rahul")   will give error hello() got multiple values for name.
# hello(name = "rahul","bhopal")     will give error

ashu and bhopal
rahul and bhopal

In [ ]:
# default arguement passing
def hello(name="ashu", add="bhopal"):
    print(name,"and",add)

hello() #gives no error because it is taking default values

# after the default arguement, we can not take non default arguements
# so we always write default arguement at last during defining a function.

ashu and bhopal

In [ ]:
# variable length arguement.
def sum(*n):
    print(type(n)) # n is a tuple.
    total = 0
    for i in n:
        total = total + i

    print("total : ", total)

sum(2,3,4,5)
sum(2,3,4)
sum(5,6,6,7,66)

# keyword variable length arguement
def display(**kwrgs):
    print(type(kwrgs))
    print(kwrgs)

display(name = "rahul", surname = "dubey")
    
# when we pass values through * it is a tuple.
# when we pass values using ** it is a dictionary.

<class 'tuple'>
total :  14
<class 'tuple'>
total :  9
<class 'tuple'>
total :  90
<class 'dict'>
{'name': 'rahul', 'surname': 'dubey'}

## global and local variable.

In [ ]:
a = 10  # global variable.
def f1():
    a = 15   # local variable
    print(a)

def f2():
    print(a)

f1() # access local variable
f2() # access global variable

15
10

In [ ]:
# using global variable inside a function.
a = 10
def f1():
    global a
    a = 23
    print(a)

f1()
f2()

# both function access global variable.

23
23

In [ ]:
# declaring a global variabl inside function
def f1():
    global v
    v = 10

def f2():
    print(v)

f1()
f2() # this function is able to access v because it is globally declared.

10

In [ ]:
# access local and global value simultaneously 
a = 10 # global function
def f1():
    a = 15 # local variable
    print(a) # local variable access
    print(globals()['a']) #global variable access.

f1()

# globals function gives a dictionary of all global variables.

15
10

## Anonymous function (Lambda Function)

In [ ]:
# nameless function or lambda function
def square(n):
    return (n*n)

def square(n):return (n*n)

# lambda arguement list : expression 
# lambda directly executes and return value.
x = lambda n : n*n

print(x(4))
print(x(5))

s = lambda a,b: a if a>b else b
print(s(5,7))

16
25
7

In [ ]:
# filter function
# map function
# reduce function

# given a list. reduce it to even numbers.
l = [1,2,3,4,5,6,7,8,9,10]
# use a function that will check for even no. and filter it out.
even = lambda n : True if x%2 == 0 else False

# filter function
# syntax  -   filter(task, list)
l2 = list(filter(lambda n :n%2 == 0 , l))
print(l2)

[2, 4, 6, 8, 10]

In [ ]:
# map function
# syntax - map(func, sequence)
# given a list. find square of all elements of list.

l3 = list(map(lambda x : x*x, l))
print(l3)

# taking input in form of list using map.
l4 = list(map(int, input().split()))
print(l4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
1 2 3 4 5 6 7
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# reduce function
# it takes sequence of elements and return single element.

# find sum of all element of l3
from functools import reduce
sum = reduce(lambda x,y : x+y, l3)
print(sum)

385

## function aliasing and nested function

In [ ]:
def print_msg(msg): # This is the outer enclosing function
    def printer():# This is the nested function
        print(msg)
    return printer # this got changed

# Now let's try calling this function.
# Output: Hello

# function aliasing means naming a function.
another = print_msg("Hello")
another()

<function print_msg.<locals>.printer at 0x7f71bad2f400>
Hello

## Decorator function
input --> (input function) --> decorator function --> output function with extended functionality

In [ ]:
def decor(func): 
    def inner1(*args, **kwargs): 
        print("before Execution") 
        # getting the returned value 
        returned_value = func(*args, **kwargs) 
        print("after Execution") 
        # returning the value to the original frame 
        return returned_value 
    return inner1 
  
# adding decorator to the function 
@decor
def sum_two_numbers(a, b): 
    print("Inside the function") 
    return a + b 
  
a, b = 1, 2
  
# getting the value through return of the function 
print("Sum =", sum_two_numbers(a, b))

before Execution
Inside the function
after Execution
Sum = 3

In [ ]:
# decorator chaining
# defining multiple decors
def decor1(func):
    def inner1():
        print("decor 1 print")
    return inner1

def decor2(func):
    def inner2():
        print("decor 2 print")
    return inner2

@decor2
@decor1
def original():
    print("original function")

original()

# here first original function call back decor1 which again 
# call back decor 2 so finally the returned value is decor 2.

decor 2 print

In [ ]:
# another example
def decor1(func):
    def inner():
        x = func()
        return x * x
    return inner

def decor(func):
    def inner():
        x = func()
        return x*2
    return inner

@decor1
@decor
def num():
    return 10

num()

# num callback decor 
# decor callback decor1
# decor1 execute inner which has func = decor
# decor returns 20, x= 20.
# inner return x*x , 400
# decor1 returned 400 finally.

400

## Generator Function

In [ ]:
# l = [x for x in range(10000000000000)]
# in colab the session crashed after using all available RAM

l = (x for x in range(100000000000000))
#  this code executes very quickly without using much RAM as previous one.

# in list comprehension a whole list is created in one go, so RAM usage is high.
# while in tuple compression it executed very quickly ???.
print(type(l))

# tuples have no concept like compression.
# this is a generator.
print(l)

<class 'generator'>
<generator object <genexpr> at 0x7f7aa8bd1d58>